{% import "form_macro.html" as form_macro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autotube</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
  </style>
</head>
<!-- 
  provide defaults of highest quality and mp4
  <input>
  <download location>
  <quality>
  <format>
 -->
<body>
  {{ form_macro.large_input_form(
  form,
  "Autotube Youtube Downloader",
  "url_input",
  "url_submit"
  ) }}
</body>
</html>